body {
  background-color: #ffffff;
}


button {
width: 435px;
margin: 10px;
height: 92px;
margin-left: auto;
margin-right: auto;
background: #E32726;
border-radius: 50px;
outline:white;

}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  color: #000000;

}

h3 {
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
}

img {
  text-align:center;
  width:20%;
  padding-top:20px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
  }

/* unvisited link */
a:link {
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

/* visited link */
a:visited {
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

/* mouse over link */
a:hover {
  color: #455cc7;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

/* selected link */
a:active {
  color: #fcb614;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
