body {
  background-color: #f9f7f7;
}

hr {
  border-style: dotted none none;
  border-color: #3f72af;
  background-color: #f9f7f7;
  border-width: 5px;
  height: 0px;
  width: 10%;
}

h1 {
  color: #112d4e;
  Font-Family: 'Merriweather', Serif;
  Font-Size: 46px;
}

h3 {
  color: #112d4e;
  Font-Family: 'Merriweather', Serif;
  Font-Size: 24px;
}

p,li,td,th{
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 18px;
}

a { color: #2d4059; }
a:hover {color: gray}
